@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-bg {
  @apply hidden md:block blur-[250px] h-full left-0 absolute top-0 transform w-full;
}
.orb {
  @apply absolute rounded-full z-[-2] mix-blend-lighten;
}
.orb-1 {
  @apply bg-[#44f2eb] h-[600px] right-0 top-0 transform translate-x-[20%] -translate-y-[40%] w-[600px] animate-orb-1;
}

.orb-2 {
  @apply bg-[#8e7bff] bottom-0 h-[700px] left-0 transform -translate-x-[30%] translate-y-[40%] w-[700px] animate-orb-2;
}

.blur-border {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1) 0, #fff);
  bottom: 0;
  height: 1.6875rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: black; */
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.radio {
  display: block;
  cursor: pointer;
  user-select: none;
  text-align: left;
}

.radio + .radio {
  margin-top: 12px;
}

.radio input {
  display: none;
}

.radio input + span {
  display: inline-block;
  position: relative;
  padding-left: 40px;
}

.radio input + span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  border-radius: 50%;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background: #fff;
}

.radio input + span:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  top: 44%;
  transform: translateY(-5%);
  left: 14px;
  opacity: 0;
  transform: scale(0, 0);
  transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.radio input:checked + span:after {
  opacity: 1;
  background: #fff;
  transform: scale(1, 1);
}

.radio input:checked + span:before {
  background: #222;
}

.radio input:checked + span {
  background: #f7f7f7;
  border: 1px solid black;
  border-radius: 0.375rem;
}

.checkbox-wrapper-4 * {
  box-sizing: border-box;
}
.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}
.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #303030;
}
.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: #303030;
  border-color: #303030;
  animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}
@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
